@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.distance {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.map {
    --size: 20;

    display: grid;
    width: var(--width);
    height: var(--height);
    grid-template-rows: repeat(var(--size), 1fr);
    grid-template-columns: repeat(var(--size), 1fr);
}

.tile {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url(/assets/grass.png);
    position: relative;
}

.crate::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 90% 90%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/assets/crate.png);
}

.robot {
    --rotate: 1;
    --x: 1;
    --y: 1;

    --translate-x: calc(calc(var(--x) - 1) * calc(var(--width) / var(--size)));
    --translate-y: calc(calc(var(--size) - var(--y)) * calc(var(--height) / var(--size)));

    display: block;
    content: '';
    width: calc(100% / var(--size, 100));
    height: calc(100% / var(--size, 100));
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/assets/car.png);
    transform-origin: center;
    transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(calc(-90deg + calc(calc(var(--rotate, 1) - 1) * 90deg))) ;
    z-index: 2;
    transition: transform ease-in-out 500ms;
    will-change: transform;
}

.wrapper {
    --width: 50vh;
    --height: 50vh;

    border: 0.25rem solid #34495e;
    position: relative;
}